<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>OwnerReg</servlet-name>
        <servlet-class>AuthorizedSearch.Reg.OwnerReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReg</servlet-name>
        <servlet-class>AuthorizedSearch.Reg.UserReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerLog</servlet-name>
        <servlet-class>AuthorizedSearch.Logs.OwnerLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>AuthorizedSearch.files.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersLog</servlet-name>
        <servlet-class>AuthorizedSearch.Logs.UsersLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AALog</servlet-name>
        <servlet-class>AuthorizedSearch.Logs.AALog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserActivate</servlet-name>
        <servlet-class>AuthorizedSearch.PKE.UserActivate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VALog</servlet-name>
        <servlet-class>AuthorizedSearch.Logs.VALog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSPLog</servlet-name>
        <servlet-class>AuthorizedSearch.Logs.CSPLog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSearchAccess</servlet-name>
        <servlet-class>AuthorizedSearch.GetSearchAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>AuthorizedSearch.PKE.Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessVerification</servlet-name>
        <servlet-class>AuthorizedSearch.AccessVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Approve</servlet-name>
        <servlet-class>AuthorizedSearch.PKE.Approve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resultview</servlet-name>
        <servlet-class>AuthorizedSearch.PKE.Resultview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>AuthorizedSearch.PKE.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReject</servlet-name>
        <servlet-class>AuthorizedSearch.UserReject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OwnerReg</servlet-name>
        <url-pattern>/OwnerReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserReg</servlet-name>
        <url-pattern>/UserReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerLog</servlet-name>
        <url-pattern>/OwnerLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersLog</servlet-name>
        <url-pattern>/UsersLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AALog</servlet-name>
        <url-pattern>/AALog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserActivate</servlet-name>
        <url-pattern>/UserActivate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VALog</servlet-name>
        <url-pattern>/VALog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSPLog</servlet-name>
        <url-pattern>/CSPLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSearchAccess</servlet-name>
        <url-pattern>/GetSearchAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessVerification</servlet-name>
        <url-pattern>/AccessVerification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Approve</servlet-name>
        <url-pattern>/Approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resultview</servlet-name>
        <url-pattern>/Resultview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserReject</servlet-name>
        <url-pattern>/UserReject</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
